@color1: #62C2CC;
@color2: #E4F6F8;
@color3: #EEF66C;

@color4: #FDB813;
@color5: #F68B1F;
@color6: #F17022;

@primary: @color1;
@secondary: @color2;

@fontPrimary: white;
@fontSecondary: @color1;

.primary-color {
    background: @primary;
}
.primary-color-dim {
    background: @color1;
}

.primary-text {
    color: @fontPrimary;
}

html {
    color: @primary;
}